* {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: lightgray;
}

:root {
    --white-bg-color: white;
    --blue: #1890ff;
    --green:#449d44;
    --yellow:#fea116 ;
  }


.container {
    max-width: 1200px;
}

.compare-elements {
    display: flex;
    text-align: center;
}


.compare-element {
    min-width: 600px;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.left-element {
    margin-right: 10px;
}

.right-element {
    margin-left: 10px;
}

.compare-element-header {
    background-color: var(--white-bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.task-info {
    margin-top: 50px;
    background-color: var(--white-bg-color);
}

.element-header-info {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    background-color: var(--white-bg-color);
    text-shadow: 1px 0px 0px #000;
    text-align: left;
}

.element-header-picture {
    background-color: var(--white-bg-color);
    padding: 10px;
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

/* Compare element body */


.compare-element-body {
    padding: 15px;
    font-weight: bold;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.compare-element-line {
    float: left;
    width: 15%;
}

.compare-element-body-left-side {
    margin-left: 5px;
    text-align: left;
    width: 100%;
}

.compare-element-body-right-side {
    width: 100%;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: var(--green);
}